:root {
    --header-height: 3rem;
    --hue-color: 206;
    --black-color: hsl(var(--hue-color), 4%, 4%);
    --black-color-alt: hsl(var(--hue-color), 4%, 8%);
    --title-color: hsl(var(--hue-color), 4%, 95%);
    --text-color: hsl(var(--hue-color), 4%, 75%);
    --text-color-light: hsl(var(--hue-color), 4%, 65%);
    --white-color: #FFF;
    --body-color: hsl(var(--hue-color), 4%, 6%);
    --container-color: hsl(var(--hue-color), 4%, 10%);
    --text-gradient: linear-gradient(hsl(var(--hue-color), 4%, 24%), hsl(var(--hue-color), 4%, 8%));
    --scroll-thumb-color: hsl(var(--hue-color), 4%, 16%);
    --scroll-thumb-color-alt: hsl(var(--hue-color), 4%, 20%);
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 5rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --text-line-height: 2rem;
    --font-medium: 500;
    --font-semi-bold: 600;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --z-tooltip: 10;
    --z-fixed: 100;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    justify-content: center;
    width: 100vw;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 60%;
    margin: auto;
    max-width: 870px;
}

.container>nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 4.2rem;
    align-items: center;
}

.container>nav .logo {
    color: #DAA520;
    font-size: var(--big-font-size);
    text-transform: capitalize;
}

.container>nav nav {
    display: flex;
    position: relative;
}

.container>nav nav .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.container>nav nav .links a {
    font-size: var(--h2-font-size);
    text-transform: capitalize;
    font-weight: var(--font-semi-bold);
    background: var(--text-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: .4s;
}

.container .hamburger {
    width: 30px;
    height: 30px;
    position: relative;
    display: none;
}

.container .hamburger div {
    width: 30px;
    height: 3px;
    background-color: #DAA520;
    position: relative;
    margin: 6px auto;
    border-radius: 2px;
    transition: 0.7s;
    transform: rotate(0deg) translateY(0px);
}

.active-menu {}

.active-menu div:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
    transition: 0.7s;
}

.active-menu div:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
    transition: 0.7s;
}

.active-menu div:nth-child(2) {
    opacity: 0;
    transition: 0.5s;
}

.section-big-hero {
    display: flex;
    position: relative;
    width: 100%;
    padding-block: 60px;
}

.section-big-hero .img {
    width: 50%;
}

.section-big-hero img {
    width: 600px;
    z-index: -1;
    position: relative;
    left: -100px;
}

.section-big-hero .hero-info {
    width: 50%;
    padding-inline-start: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    position: relative;
    margin-block-start: 70px;
}

.section-big-hero .hero-info .showcase-product-title {
    font-size: 50px;
    color: #DAA520;
}

.section-big-hero .hero-info .showcase-product-cta button {
    padding: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--black-color);
    color: var(--text-color);
}

.section-big-hero .hero-info .showcase-product-cta button p {
    display: inline;
    margin-inline-end: 10px;
}

.section-partners {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 50px;
}

.section-partners .partner {
    width: fit-content;
    height: fit-content;
}

.section-partners .partner svg {
    width: 100px;
    height: auto;
    fill: var(--text-color);
}

.section-partners .partner:nth-child(2) svg path {
    fill: var(--text-color);
}

.heading {
    color: #DAA520;
}

.featured-product {
    padding-block: 50px;
}

.featured-product .content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.featured-product .heading {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1.5rem;
    font-size: 2rem;
    text-transform: capitalize;
}

.featured-product img {
    max-width: 450px;
    max-height: 450px;
    margin-top: 50px;
    position: relative;
}

.featured-product .featured-product-specs {
    width: 50%;
    z-index: 2;
    margin-top: 50px;
    position: relative;
}

.featured-product .featured-product-specs .name {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1rem;
}

.featured-product .featured-product-specs .spec {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: var(--left-position, 0);
    padding: 10px;
    border-radius: 10%;
    opacity: 0.75;
}

.featured-product .featured-product-specs .spec span:nth-child(0) {
    font-weight: bold;
}

.featured-product .featured-product-specs .spec span:nth-child(1),
.featured-product .featured-product-specs .spec span:nth-child(2) {
    font-weight: bold;
}

.case {
    padding-block: 50px;
}

.case .content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-block: 50px;
}

.case .heading {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1.5rem;
    font-size: 2rem;
    text-transform: capitalize;
}

.case .content img {
    width: 50%;
    height: auto;
    border-radius: 30% 30% 30% 30%;
}

.case .content .case-specs {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.cta-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--container-color);
    border-radius: 10px;
}

.cta-section .cta-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.cta-section .cta-text .cta-button {
    padding: 15px 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--body-color);
    color: var(--text-color);
}

.cta-section .cta-text .cta-button span {
    margin-right: 10px;
}

.cta-section img {
    width: 350px;
    height: auto;
}

.more-products {
    padding-block: 50px;
}

.more-products .heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1.5rem;
    font-size: 2rem;
    text-transform: capitalize;
}

.more-products .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
}

.more-products .content .product-card {
    height: 150px;
    width: 200px;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    background-color: hsl(206deg 5.17% 11.38%);
    border-radius: 10px;
}

.more-products .content .product-card img {
    width: 200px;
    position: absolute;
    top: -50%;
    transform: translateY(40%);
    background: transparent;
}

.more-products .content .product-card .product-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.more-products .content .product-card .product-details .name {
    font-weight: bold;
}

.more-products .content .product-card a {
    display: inline-block;
    padding: 10px;
    border-radius: inherit;
    background-color: var(--body-color);
}

.more-products .content .product-card a span {
    color: var(--text-color);
}

.footer .grid {
    margin-block-start: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.footer .grid .logo {
    text-transform: capitalize;
    color: #DAA520;
    grid-column: 1/2;
}

.footer .grid .product-info {
    grid-column: 2/4;
}

.footer .grid .company-info {
    grid-column: 4/6;
}

.footer .grid .product-info h3,
.footer .grid .company-info h3 {
    font-weight: bold;
}

.footer .grid .product-info ul,
.footer .grid .company-info ul {
    list-style-type: none;
    margin-top: 20px;
}

.footer .grid .product-info ul li,
.footer .grid .company-info ul li {
    margin: 10px 0px;
    cursor: pointer;
}

.footer .contact-info {
    grid-column: 6/9;
}

.footer .contact-info .email-contact-form {
    position: relative;
    background-color: hsl(206deg 5.17% 11.38%);
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
}

.footer .contact-info .email-contact-form input {
    display: inline;
    grid-column: 1/4;
    height: 30px;
    outline: none;
    border: none;
    background: transparent;
    color: var(--text-color);
}

.footer .contact-info .email-contact-form button {
    grid-column: 4/6;
    height: 40px;
    padding: 10px 10px;
    border-radius: inherit;
    outline: none;
    border: none;
    text-transform: capitalize;
    background-color: var(--body-color);
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.footer .grid .contact-info .socials {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin-block-start: 10px;
}

.footer .grid .contact-info .socials span {
    display: inline-block;
    padding: 10px;
    background-color: hsl(206deg 5.17% 11.38%);
    border-radius: 10px;
}

.footer .copyright {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-block-start: 3.5rem;
    padding-block-end: 50px;
}

@media screen and ( max-width: 1300px) {
    .container {
        width: 100%;
    }
    .section-big-hero .hero-info .showcase-product-title {
        font-size: 2.5rem;
    }
    .section-big-hero .hero-info {
        gap: 30px;
        margin-block-start: 40px;
    }
    .featured-product .heading {
        font-size: 1.5rem;
    }
    .case .heading {
        font-size: 1.5rem;
    }
    .case .content img {
        max-width: 350px;
    }
    .more-products .heading {
        font-size: 1.5rem;
    }
}

@media screen and ( max-width: 890px) {
    .container {
        padding-inline: 20px;
    }
    .section-big-hero .hero-info {
        padding-inline: unset;
    }
    .section-big-hero img {
        left: -150px;
    }
}

@media screen and ( max-width: 690px) {
    .container>nav .logo {
        font-size: 2rem;
    }
    .featured-product img {
        width: 300px;
        height: 300px;
    }
    .more-products .content .product-card {
        width: 170px;
    }
    .more-products .content .product-card img {
        width: 150px;
    }
    .footer .contact-info .email-contact-form {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .footer .contact-info .email-contact-form button {
        gap: 5px;
        padding: 5px;
    }
    .footer .contact-info .email-contact-form input {
        grid-column: 1/5;
    }
    .footer .contact-info .email-contact-form button {
        grid-column: 5/8;
    }
}

@media screen and ( max-width: 650px) {
    .container>nav {
        height: 3rem;
    }
    .container>nav .logo {
        font-size: 1.5rem;
    }
    .container>nav nav .links {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: var(--body-color);
        color: #DAA520;
        border-radius: 5px;
        z-index: 5;
        padding-block: 30px;
        padding-inline: 20px;
        transition: display 1s;
        top: 2.5rem;
        width: 100vw;
    }
    .container>nav nav .links a {
        color: #DAA520;
        text-decoration: none;
    }
    .container .hamburger {
        display: inline-block;
    }
    .container>nav nav .open-menu {
        top: 2.5rem;
        display: flex;
        right: 0px;
    }
    .section-big-hero img {
        width: 400px;
        left: -70px;
    }
    .section-big-hero .hero-info .showcase-product-title {
        font-size: 1.5rem;
    }
    .section-big-hero {
        padding-block: 10px;
    }
    .section-partners .partner svg {
        width: 70px;
    }
    .featured-product {
        padding-block: 10px;
    }
    .featured-product img {
        width: 250px;
        height: 250px;
        left: -40px;
        z-index: -1;
        top: 50px;
    }
    .featured-product .featured-product-specs {
        left: -30px;
    }
    .more-products .content .product-card img {
        width: 100%;
        transform: unset;
        top: -20px;
    }
    .more-products .content .product-card {
        padding: 8px;
        width: 100%;
    }
    .more-products .content .product-card a {
        padding: 8px;
    }
}